<!DOCTYPE html>
<html>
  <html>
    <head>
      <title>Weather Details</title>
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/weather1.css')}}"> 
    </head>    
    <body>      
      <h2>Weather Details</h2>
      <form action="{{ url_for('weather') }}" method="POST">
        <input type="text" name="city" placeholder="Enter the city name"><br></br>
        <input type="submit" value="Go">
      </form>
      <br></br>
        <div>
            <h2 style="color:orange;"> {{ weather }} </h2>
        </div>
    </body>
    </html>